/* Author: Patrick Khensovan <patrick@patrickkhensovan.com> */
html, body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
}

/* Our control panel */
#control {
	margin-top: 18px;
	padding-top: 3px;
	padding-bottom: 17px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #fff;	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#panel {
	background-color: #fff;
	padding: 0 11px 0 13px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
}

/* Display our directions */
#directions-panel {
	height: 100%;
	float: right;
	width: 390px;
	overflow: auto;
	font-family: Roboto;
}

/* Give the map & directions some space */
#map-canvas {
	margin-right: 400px;
}

#target {
	width: 345px;
}

/* iPhone 5/5c/5s portrait & landscape, 
  via Stephen Gilbert @http://stephen.io/mediaqueries/ */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#directions-panel {
		float: none;
		position: absolute;
		padding: 3px;
		height: 568px;
		width: 100%;
		margin-top: 560px;
		overflow: auto;
	}

	#map-canvas {
		margin-right: 0px;
	}

	#target {
		width: 345px;
	}
}

/* iPhone 5/5c/5s landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	#directions-panel {
		float: none;
		position: absolute;
		padding: 3px;
		height: 320px;
		width: 100%;
		margin-top: 320px;
		overflow: auto;
	}
}